[yellow_trip_data_pipeline.destination.filesystem]
bucket_url = "s3://warehouse" # replace with your bucket name,

[yellow_trip_data_pipeline.destination.filesystem.credentials]
aws_access_key_id = "admin" # copy the access key here
aws_secret_access_key = "password" # copy the secret access key here
endpoint_url = "http://minio:9000" # copy your endpoint URL here


# --Configuración para MinIO -> Azure (ADLS/Blob)--
# Lo IDEAL es no subir este archivo de manera publica!

# ORIGEN: MinIO/S3 LO QUE SE LEÉRA
[s3_to_adls.sources.filesystem]
bucket_url = "s3://warehouse/iceberg/" 

[s3_to_adls.sources.filesystem.credentials]
aws_access_key_id = "admin"
aws_secret_access_key = "password"
endpoint_url = "http://minio:9000"

# DESTINO: Azure Data Lake / Blob
[s3_to_adls.destination.filesystem]
bucket_url = "abfss://clase-4-dlt@fhbd.dfs.core.windows.net/"

[s3_to_adls.destination.filesystem.credentials]
azure_storage_account_name  = "fhbd"
azure_storage_account_key = ""
